.students-container{
    margin: auto;
    margin: 30px auto;
}

.students-header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
   
}

.students-header-button{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.students-header-button button{
    cursor: pointer;
    background-color: white;
    border:1px solid #00a859;
    margin-bottom: 15px;
    border-radius: 5px;
    border-left: 20px solid #00a859;
    height: 40px;
    color: #00a859;
    font-size: 16px;
    font-weight: bold;
}

.students-header-button button:hover{
    color: white;
    background-color: #00a859;
    transition: 0.3s;   
}

.students{
    display: flex;
    margin: auto;
    width: 95%;
    background-color: #ece9e9;
    border-radius: 10px;

}

.students-form{
    width: 40%;
    border-right: 1px solid rgb(201, 201, 201);
    margin-right: 10px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.students-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.students-list-cards{
    width: 70%;
}

.students-content{
    background-color: #00a859;
    width: 250px;
    height: 140px;
    margin-bottom: 10px;
}

.students-content input:disabled{
    background-color: white;
    color: rgb(61, 61, 61);
}

.students-students img {
    z-index: 1;
}

.students-photo{
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    background: #a7a7a7;
    width: 70px;
    height: 80px;
}


.students-input{
    position: absolute;
    margin-left: 85px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.students-input label{
    color: #ffffff;
    font-size: 12px;
}

.students-input input {
    border: none;
    background: #ffffff;
    border-radius: 5px;
    width: 140px;
    height: 18px;
    font-size: 11px;
    padding-left: 10px;
}

.students-title-course{
    margin-top: 5.5px;

}

.students-input-info{
    position:absolute;
    margin-top: 105px;
}



.students-input-info label{
    color: white;
    font-size: 10px;
}

.students-expire{
    font-weight: 700;
    font-size: 13px !important;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}


.students-registration{
    border-radius: 5px;
    width: 56px;
    font-size: 10px;
    padding-left: 5px;
}

.form-create{
    margin-left: 30px;
}

.form-create input{
    display: block;
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(172, 173, 172);
}

.form-create label {
    color: rgb(1, 44, 15);
    font-stretch: 10px;
}


.field-photo input{
    border: none;
    color: rgb(5, 58, 32);
    border-bottom: 1px solid white;
    padding-bottom: 5px;

}


.field-photo-image{
    background-color: rgb(255, 255, 255);
    margin-left: 30%;
    width: 170px;
    height:145px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.field-infos{
    display: flex;
    width: 100%;
}

.field-code{
    width: 40%;
}

.field-expirate{
    width: 49%;
}


.photo{
    width: 170px;
    height: 145px;
    border-radius: 10px;
}

.button-save-continue{
    margin-top: 15px;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: #ffffff;
    background-color: #00a859;
    font-weight: bold;
}

.students-form-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #00a859;
    font-weight: 900;
}